.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark color for the thumb */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #666; /* Dark color for the track */
  }
  
  /* For Firefox */
  /* Note: Firefox currently doesn't support the customization of scrollbar colors without using pseudo-elements, and it's not recommended to use those due to potential browser inconsistencies. */
  